* {
  box-sizing: border-box;
  padding: 10px;
  margin: 0;

  form {
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
    border: 1px solid;
    fieldset {
      padding: 10px;
      legend {
        padding: 2px 4px;
        box-shadow: 2px 2px 10px gray;
      }
      div.field {
        border: 1px solid orange;
        display: flex;
        input {
          // float: right;

          width: 70%;
        }
        label {
          width: 30%;
          // float: left;
        }
      }
    }
  }
}
