@import "./fonts";

$base-background-color: rgb(235, 235, 235);
$base-shadow-color: rgb(155, 151, 143);

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

body {
  font-family: 'TL-SBold';
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 3px 3px 15px $base-shadow-color;
  border-radius: 25px;
  background: $base-background-color;
}
