@import "./fonts";

$color-for-navbar: rgba(77, 41, 124, 0.8);

* {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

body {
  font-family: 'TL-SBold';
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 3px 3px 15px rgb(207, 179, 127);
  border-radius: 25px;
  background: rgb(222, 242, 243);
}
